<div class="d-flex">
<div class="p-2 flex-fill " >
  
 <button type="button" class="btn btn-primary" >
    <i class="zmdi zmdi-border-color zmdi-hc-2x"></i>&nbsp; 
  
  </button> 

</div> 
</div>             



<div class="row">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-header"> TABLES DES OFFRES
         <div class="card-action">
            <div class="dropdown">
            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
             <i class="icon-options"></i>
            </a>
             <div class="dropdown-menu dropdown-menu-right">
             <a class="dropdown-item" href="javascript:void();">Action</a>
             <a class="dropdown-item" href="javascript:void();">Another action</a>
             <a class="dropdown-item" href="javascript:void();">Something else here</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="javascript:void();">Separated link</a>
              </div>
             </div>
            </div>
        </div>
          <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless">
                 <thead>
                  <tr>
                    <th>CODE OFFRE</th>
                    <th>Poste</th>
                    <th>Domaine</th>
                    <th>Expérence</th>
                    <th>Nombre</th>
                    <th>Cantrat</th>
                    <th>Salaire</th>
                    <th>Ville</th>
                    <th>Date expiration</th>
                    <th>Action</th>
                  </tr>
                  </thead>


                  <tbody><tr>
                   <td>OFFRE1</td>
                   <td>ingénieur</td>
                   <td>informatique</td>
                   <td>2ans</td>
                   <td>4 candiat</td>
                   <td>1200DT</td>
                   <td>Ariana</td>
                   <td>20/12/2022</td>
                   <td>CDI</td>
                   <td>

                    <div class="d-flex">
                        <div class="p-2 flex-fill " >
                          <button type="button" class="btn btn-danger">
                            <i class="fas fa-cloud-upload-alt"></i>&nbsp;


                            <i class="zmdi zmdi-delete zmdi-hc-2x" ></i>
                          
                          
                          </button>&nbsp;&nbsp;
                        
                       
                          <a href="admin/modifier-offre"> 
                          <button type="button" class="btn btn-success">
                            <i class="fas fa-cloud-download-alt"></i>&nbsp;
                            <i class="zmdi zmdi-edit zmdi-hc-2x "></i>
                            
                          </button>
                          </a>
                        </div>
                        
                      </div>

                   </td>

                  </tr>




  
                  
                

                </tbody></table>
              </div>
      </div>
    </div>
   </div>



    

	