<div class="row mt-2 p-3 custom-border">
    <div class="alert alert-danger" *ngIf="errorMsg.length">
        <div *ngFor="let msg of errorMsg">
          <span> {{ msg }}</span>
        </div>
      </div>
    <div class="form-row col-md-12">
      <div class="col-md-4">
        <h6>Filter le damnde avec sans Etat : </h6>
        <h6>ADMIS , EN_COURS , CONVOQUUE_ENTRETIEN , LISTE_ATTENTE
        </h6>
      </div>
      
        <div class="col-md-6">
          
            <input type="text" class="form-control" placeholder="Entrer Etat demande" [(ngModel)]="etatDemande" (input)="searchDemande()">
           
            <div>
                <p class="p-1">

                </p>
            </div>
        </div>

    

       
       
    </div>
</div>
 <br>
    
        
      <div class="row mb-1 mr-0 custom-border">
          <!--  Details article-->
          <div class="col-md-3 custom-border-right mb-1 mt-1 ">
            <div class="row text-center">
              <div class="col-md-11">Email</div>
            </div>
          </div>
        
          <div class="col-md-3 custom-border-right mb-1 mt-1 ">
            <div class="row">
              <div class="col-md-12 text-center">
                  Nom & Prenom
              </div>
            </div>
          </div>
        
          <div class="col-md-2 custom-border-right mb-1 mt-1 ">
            <div class="row">
              <div class="col-md-12 text-center">
                 CIN
              </div>
            </div>
          </div>
        
          <div class="col-md-2 custom-border-right mb-1 mt-1 ">
            <div class="row" >
              <div class="col-md-12 text-center" >
                POSTE
              </div>
            </div>
          </div>
                  
          <div class="col-md-2 mb-1 mt-1">
            <div class="row">
              <div class="col-md-12 text-center">
                  Etat De Demande
              </div>
            </div>
          </div>         
        </div>
      


<div class="row mt-2 p-3 custom-border" style="max-height: 300px;overflow-y: scroll">
    <div class="col-md-12" *ngFor="let s of searchedDemande">
      
          
        <div class="row mb-1 mr-0 custom-border">
            <!--  Details article-->
            <div class="col-md-3 custom-border-right mb-1 mt-1 ">
              <div class="row text-center">
                <div class="col-md-11">{{s.email}}</div>
              </div>
            </div>
          
            <div class="col-md-3 custom-border-right mb-1 mt-1 ">
              <div class="row">
                <div class="col-md-12 text-center">
                    {{s.nom}}&nbsp;{{s.prenom}}
                </div>
              </div>
            </div>
          
            <div class="col-md-2 custom-border-right mb-1 mt-1 ">
              <div class="row">
                <div class="col-md-12 text-center">
                  {{s.cin}}
                </div>
              </div>
            </div>
          
            <div class="col-md-2 custom-border-right mb-1 mt-1 ">
              <div class="row">
                <div class="col-md-12 text-center">
                  {{s.poste}}
                </div>
              </div>
            </div>
            
          
            <div class="col-md-2 mb-1 mt-1">
              <div class="row">
                <div class="col-md-12 text-center">
                   
                    <span class=" badge badge-pill badge-warning">{{s.etatDemande}} </span>
                </div>
              </div>
            </div>

         



            
          </div>
          
          
          





    </div>
  </div>