

	

  <div class="row mt-3">
    <div class="col-lg-12">
       <div class="card">
         <div class="card-body">
         <div class="card-title">
        Offre 1 :    ingénieur devops    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Date Expération : <small class="text-success" >20/12/2023</small>
         </div>

         <hr>




          <div>
             <h5  >Descriptif de l'Offre : </h5>
             <p>We got the HTML for the landing page done by an external source. However we need to make few changes to the design, etc. + connect few our APIs (for CRM integration). In case CRM integration is less possible, will need to support within Leadpages to 
              connect the same to capture leads in another source (Google sheets, etc.)</p>
          </div>


          
        <div>
          <h6 >Domaine : <small class="text-muted"> informatique</small></h6>
        
         </div>
     


        <div>
              <h6 >Poste : <small class="text-muted">ingénieur informatique</small></h6>
              
              
        </div>
         


        <div>
          <h6>Expérience : <small class="text-muted">2ans</small></h6>
          
    </div>

    <div>
      <h6>Compétences  : <small class="text-muted">java , javaEE , spring boot , angular , uml </small></h6>
      
     </div>
 


     <div>
      <h6>Nombre de candidatures  : <small class="text-muted">4 </small></h6>
      
     </div>
 

     <div>
      <h6>Contrat : <small class="text-muted">CDI </small></h6>
      
     </div>


     <div>
      <h6>Salaire : <small class="text-muted">1200 &nbsp; DT  </small></h6>
      
     </div>


     <div>
      <h6>Ville : <small class="text-muted">Ariana  </small></h6>
      
     </div>

         <hr>
         
       
         <!-- <a href="candidat/postuler">
           <button  class="btn btn-light btn-round px-5" (click)="buttonClick('success')"  >Postuler</button>
         </a> -->

        


 </div>
</div>





	