<header class="topbar-nav">
  <nav class="navbar navbar-expand fixed-top">
   <ul class="navbar-nav mr-auto align-items-center">
     <li class="nav-item">
       <a class="nav-link toggle-menu" href="javascript:void();">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; 
        
      </a>
     </li>
     <li class="nav-item">
       <form class="search-bar">
        <h3>Plateforme de gestion de recrutement</h3>
       </form>
     </li>
   </ul>
   
 </nav>
 </header>

   
<div> 


    <video  class='video' autoPlay muted loop>
        <source src="assets/images/video2.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="content">
      <div>
  <h1>Sierra Bravo Intelligence</h1>
  <p>Votre partenaire de <span>développement informatique</span> </p>
  <p>pour la conception de vos logiciels, applications mobiles, web et prestations de conseils.</p>
  


  <br><br><br><br>

  <button pButton pRipple type="button" icon="pi pi-briefcase"  label="Candidats" class="p-button-rounded" (click)="candidat()"></button>
  &nbsp;&nbsp;
     <button pButton pRipple type="button" icon="pi pi-users " label="Recruteur" class="p-button-rounded p-button-danger" (click)="recruteur()"></button>
&nbsp;&nbsp;

     <button pButton pRipple type="button" icon="pi pi-user" label="Admin" class="p-button-rounded  p-button-success " (click)="admin()"></button>

     
    
    
</div>
</div>

          
