

	
  <h5>MODIFIER OFFRE</h5>

    <div class="row mt-3">
        <div class="col-lg-6">
           <div class="card">
             <div class="card-body">
             <div class="card-title">Critères du poste </div>
             <hr>
              <form>
             <div class="form-group">
              <label for="input-1">Poste</label>
              <input type="text" class="form-control" id="input-1" placeholder="Enter poste">
             </div>
             <div class="form-group">
              <label for="input-2">Mission</label>
              <input type="text" class="form-control" id="input-2" placeholder="Enter Mission">
             </div>
             <div class="form-group">
              <label for="input-3">Connaissance</label>
              <input type="text" class="form-control" id="input-3" placeholder="Enter les connaissance">
             </div>
             <div class="form-group">
              <label for="input-4">Niveau d'étude</label>
              <input type="text" class="form-control" id="input-4" placeholder="Enter niveau d'étude">
             </div>
             <div class="form-group">
              <label for="input-5">Expérience</label>
              <input type="text" class="form-control" id="input-5" placeholder="Enter expérience">
             </div>
  
             <div class="form-group">
              <label for="input-5">Critères</label>
              <input type="text" class="form-control" id="input-5" placeholder="Enter critères">
             </div>
             
  
             <div class="form-group">
              <label for="input-5">Domaine</label>
              <input type="text" class="form-control" id="input-5" placeholder="Enter domaine">
             </div>
  
             <div class="form-group">
              <label for="input-5">Langages du programmation</label>
              <input type="text" class="form-control" id="input-5" placeholder="Enter langages du programmation">
             </div>
  
  
  
            </form>
           </div>
           </div>
        </div>
  
        <div class="col-lg-6">
          <div class="card">
             <div class="card-body">
             <div class="card-title">Les informations du poste</div>
             <hr>
              <form>
             <div class="form-group">
              <label for="input-6">Nombre à recruter</label>
              <input type="text" class="form-control form-control-rounded" id="input-6" placeholder="Enter le nombre à recruter">
             </div>
  
  
             <div class="form-group">
              <label for="input-7">Contrat</label>
              <select name="pets"  class="form-control form-control-rounded" id="input-7">
                  <option value="">--veuillez sélectionner une option--</option>
                  <option value="dog">CDD</option>
                  <option value="cat">CDI</option>         
              </select>
             </div>
  
  
  
  
             <div class="form-group">
              <label for="input-8">Ville</label>
              <input type="text" class="form-control form-control-rounded" id="input-8" placeholder="Enter Ville  ">
             </div>
             <div class="form-group">
              <label for="input-9">Salaire</label>
              <input type="text" class="form-control form-control-rounded" id="input-9" placeholder="Enter Salaire">
             </div>
             <div class="form-group">
              <label for="input-10">Date d'expiration</label>
              <input type="text" class="form-control form-control-rounded" id="input-10" placeholder="Enter date d'expiration">
             </div>
             <div class="form-group">
              <label for="input-10">Date Orale</label>
              <input type="text" class="form-control form-control-rounded" id="input-10" placeholder="Enter date orale">
             </div>
  
  
             <br><br>
             <div class="form-group py-2">
               <div class="icheck-material-white">
              <input type="checkbox" id="user-checkbox2" checked=""/>
              <label for="user-checkbox2">J'ACCEPTE LES TERMES ET CONDITIONS</label>
              </div>
             </div>
             <div class="form-group">
             
              <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Ajouter</button>
            
            </div>
            </form>
           
        </div>
      </div><!--End Row-->
  
      